@typeparam TCreate
@typeparam TUpdate
@typeparam TDetail
@typeparam TList
@typeparam TSearch

@inherits TDesignPageBase

<h2>@PageTitle</h2>

<TRow style="margin-bottom:10px">
    <TColumn Span="ColumnSpan.Is12">
        <TForm Model="SearchModel" Inline OnValidSubmit="GetListData">
            <DataAnnotationsValidator/>
            @SearchFormContent?.Invoke(SearchModel)
            <TFormItem>
                <TSpace>
                    <TSpaceItem>@SearchFormSubmitContent</TSpaceItem>
                    <TSpaceItem>@SearchFormResetContent</TSpaceItem>
                </TSpace>
            </TFormItem>
        </TForm>
    </TColumn>
</TRow>
<TRow style="margin-bottom:10px">
    <TColumn Span="ColumnSpan.Is11">
        <TSpace>
            @foreach(var toolFragment in ActionTools)
            {
                <TSpaceItem>
                    @toolFragment
                </TSpaceItem>
            }
        </TSpace>
    </TColumn>
</TRow>
<TTable TItem="TList" Data="TableDataSource" style="margin-top:10px" Pagination Hoverable >
    @TableColumnContent

    <TTableFieldColumn Header="操作" TItem="TList" TField="object" Field="m=>Key">
        <TSpace>
            @if ( UpdatePermissionProvider().Result )
            {
                <TSpaceItem>
                    @UpdateOperationContent?.Invoke(context)
                </TSpaceItem>
            }
            @if ( DeletePermissionProvider().Result )
            {
                <TSpaceItem>
                    @DeleteOperationContent?.Invoke(context)
                </TSpaceItem>
            }
        </TSpace>
    </TTableFieldColumn>
</TTable>