@typeparam TCreate
@typeparam TUpdate
@typeparam TDetail
@typeparam TList
@typeparam TListFilter

@inherits TDesignPageBase

<PageTitle>@PageTitle</PageTitle>

<h2>@PageTitle</h2>

<TRow>
    <TColumn Span="ColumnSpan.Is11">
        @SearchContent
    </TColumn>
    <TColumn Span="ColumnSpan.Is1">
        @if ( CreatePermissionProvider() )
        {
            <FormDialogButton TModel="TCreate" Block Text="@(CreateDialogTitle)" OnSubmit="OnFormCreating" OnDialogClosed="SubmittedCreateForm">
                @CreateFormContent
            </FormDialogButton>
        }
    </TColumn>
</TRow>
<TTable TItem="TList" Data="TableDataSource" style="margin-top:10px" Pagination>
    @TableColumnContent

    <TTableFieldColumn Header="操作" TItem="TList" TField="object" Field="m=>Key">
        <TSpace>
            @if ( EditPermissionProvider() )
            {
                <TSpaceItem>
                    @EditOperationContent?.Invoke(context)
                </TSpaceItem>
            }
            @if ( DeletePermissionProvider() )
            {
                <TSpaceItem>
                    @DeleteOperationContent?.Invoke(context)
                </TSpaceItem>
            }
        </TSpace>
    </TTableFieldColumn>
</TTable>